body {
  margin: 0;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.content {
  height: 75%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

h1, h2, i::before, span {
  color: #fff;
}

h1, h2 {
  text-align: center;
  max-width: 80%;
  margin: auto;
}

h1, i::before {
  font-size: 4em;
}

h2, span {
  font-family: 'Josefin Slab', serif;
  font-weight: 200;
  margin-top: 1%;
}

h1 {
  text-transform: uppercase;
  font-family: 'Fredericka the Great', cursive;
}

h2 {
  font-size: 2.5em;
}

span {
  font-size: 1.25em;
  margin-top: 5%;
}

.crystal-ball {
  width: 35%;
  margin: 2% auto;
  display: block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

li {
    display: inline-block;
    margin: 0 2% 5%;
    position: relative;
}

li a {
  display: inline-block;
}

i::before {
  font-size: 4em;
}

i + span {
  display: none;
  position: absolute;
  top: 105%;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
}

i:hover +  span {
  display: inline-block;
}
